@page "/"
@using Newtonsoft.Json
@using System.Text.Json
@inject IJSRuntime JSRuntime 
@inject HttpClient Http

<PageTitle>LotR-TCG Booster Pack Simulator</PageTitle>

<h1>Lord of the Rings TCG Booster Pack Simulator</h1>

<p>Welcome!</p>

<p>This application is for recovering addicts who cannot stay off of the plastic-wrapped cardboard crack otherwise known as Booster Pack openings.</p>

<p>This simulator permits you to "purchase" booster boxes, "open" booster packs, and get all of your ooh-ing and ahh-ing out of your system when you add it to your "collection".  </p>

<p>As much as possible, the booster packs reasonably emulate how booster packs were actually randomized.  If however you have images of uncut sheets of any kind, we would encourage you to reach out to the Player's Council <a href="https://lotrtcgpc.net/discord">on the PC Discord</a> so this randomization process can be made more accurate.</p>

<p>@Status</p>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@


@code {
    private string Status = "Loading...";

    //Make sure to increment this every time you want everybody to force reload
    private static DateTime LatestUpdate = DateTime.Parse("2022-03-25");

    private GameDefinition? GameDef = null;



    private BrowserStorageAccessor BSA;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        BSA = new(JSRuntime, Http);
    }

    public async Task CheckData()
    {
        //check if data is outdated, and if so....
        //set spinner visuals and disable links while loading the definition
        if (GameDef == null || GameDef.LastUpdated < LatestUpdate)
        {
            bool result = false;
            (result, Status, GameDef) = await BSA.LoadGameDefinitions(LatestUpdate);
        }
        //disable the spinner and re-enable the links

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync() => await CheckData();

}
