@page "/merchant"
@inject IJSRuntime JSR

<PageTitle>Merchant</PageTitle>

<h1>Purchase </h1>



@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@code {

    private BrowserStorageAccessor BSA;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        BSA = new(JSR);
    }




    //protected override async Task OnInitializedAsync() => await Index.CheckData();
}
